<div class="w-full h-full flex flex-col overflow-hidden">
	<div class=" h-[700px] flex gap-[1rem]">

		<div class="containerCard bg-yellow-50 h-[90%] w-[80%] py-[2rem] border border-yellow-200 rounded-xl shadow-inner">
			<div class="containerCard-sub w-full h-full">
				<ul class="cardList flex flex-col gap-4 items-center my-2">
					@for (note of notes$; track note.id) {
					<app-card-note [note]="note" class="w-full h-full flex justify-center" />
					}
				</ul>
			</div>
		</div>



		<ul class="cardList-function w-[20%] flex flex-col">
			<button (click)="createNoteModal()" type="button"
				class="focus:outline-none text-white bg-green-600 hover:bg-green-700 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Create</button>

			@if(selectedNoteId != 0){
			<button (click)="deleteNote()" type="button"
				class="focus:outline-none text-white bg-red-600 hover:bg-red-700  font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Delete</button>
			<button [routerLink]="['/notes/update', selectedNoteId]" type="button"
				class="text-white bg-blue-500 hover:bg-blue-600  rounded-lg text-sm px-5 py-2.5 me-2 mb-2 ">Update</button>
			<button [routerLink]="['/notes/info',selectedNoteId]" type="button"
				class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500  font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 ">Show</button>
			}
			@else{
			<button type="button"
				class="cursor-default focus:outline-none text-white bg-gray-400 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Delete</button>
			<button type="button"
				class="cursor-default focus:outline-none text-white bg-gray-400 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Update</button>
			<button type="button"
				class="cursor-default focus:outline-none text-white bg-gray-400 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 ">Show</button>
			}
		</ul>
	</div>
</div>