<div class="my-2">
  <button (click)="toMain()"
    class="flex items-center cursor-pointer text-white bg-red-500 hover:bg-red-600 active:bg-red-700 py-2 px-6 rounded-lg shadow-md transform transition-all duration-300 ease-in-out hover:scale-105">
    <svg xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 mr-3 transition-transform duration-200 transform group-hover:translate-x-1" fill="none"
      viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
    </svg>
    <span class="font-semibold text-[15px]">Back</span>
  </button>
</div>

<form
  class="w-[500px] max-h-[500px] border rounded-2xl shadow-lg p-4 pb-7 flex flex-col items-center gap-4 text-center bg-white"
  #formRef="ngForm" *ngIf="noteSelected$ | async as noteSelected" (ngSubmit)="update(formRef)">
  <img [src]="noteSelected.emojiRef" alt="emoji" class="w-[5rem] h-[5rem] mx-auto my-3" />
  @if(!isUpdate){
  <h1 class="text-xl font-semibold text-gray-800">{{noteSelected.title}}</h1>
  <p class="text-sm text-gray-600">{{noteSelected.description}}</p>
  }
  @else {
  <input class="no-defect-input w-full border p-2 rounded-md text-xl font-semibold text-gray-800 text-center"
    name="title" type="text" [(ngModel)]="noteUpdated.title" placeholder="Title" required autofocus maxlength="30"
    minlength="5" #title="ngModel" [pattern]="noSpacesPattern" />
  <small *ngIf="title.invalid && title.touched" class="text-red-500 text-sm">
    <ng-container *ngIf="title.errors?.['required']">Title is required.</ng-container>
    <ng-container *ngIf="title.errors?.['minlength']">Title must be at least 5 characters long.</ng-container>
    <ng-container *ngIf="title.errors?.['pattern']">Title cannot contain spaces.</ng-container>
  </small>

  <textarea
    class="min-h-[50px] max-h-[300px] no-defect-textarea w-[90%] border p-2 rounded-md mt-4 text-sm text-gray-600"
    name="description" [(ngModel)]="noteUpdated.description" placeholder="Descripción" rows="1" required autofocus
    maxlength="250" minlength="5" #description="ngModel" [pattern]="noSpacesPattern"></textarea>
  <small *ngIf="description.invalid && description.touched" class="text-red-500 text-sm">
    <ng-container *ngIf="description.errors?.['required']">Description is required.</ng-container>
    <ng-container *ngIf="description.errors?.['minlength']">Description must be at least 5 characters
      long.</ng-container>
    <ng-container *ngIf="description.errors?.['pattern']">Description cannot contain spaces.</ng-container>
  </small>
  }
  <div class="w-full flex justify-center mt-7">
    @if(isUpdate){
    <button [disabled]="formRef.invalid"
      class="cursor-pointer text-[1.1rem] text-white bg-blue-500 hover:bg-blue-600 active:bg-blue-700 py-2 px-7 rounded-lg shadow-md transform transition-all duration-300 ease-in-out hover:scale-105">
      Update
    </button>
    }
  </div>
</form>