.no-defect-input,
.no-defect-textarea {
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  caret-color: black;
  border-bottom: 2px solid #3b82f6;
  border-radius: 0;
}

.no-defect-input{
  width: auto;
}